@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');


@import "tailwindcss";

.unbounded {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  /* color: brown; */
   font-weight: 900;
  /* font-style: ;  */
}



.monoton {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}


.red-rose {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.saira {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
